<p style="color: green"><%= notice %></p>

<h1>Dogs</h1>

 <% if @dogs.present? %>
 <table class="relative top-[-50px]">      
    <thead>
    <tr class="border-[1px] border-white">
    <th>Name</th>
    <th>Size</th>
    <th>Origin</th>
    <th>Color</th>
    </tr>
    </thead>
    <tbody>
     <% @dogs.each do |p| %>
        <tr class="border-[1px] border-white text-center">
            <td class="px-[50px]"><%= p.name %></td>
            <td class="px-[50px]"><%= p.size %></td>
            <td class="px-[50px]"><%= p.origin %></td>
            <td class="px-[50px]"><%= p.color %></td>
        </tr>
    <% end %>
    </tbody>
    </table>
    <% else %>
        <p class="px-[50px] absolute top-[50%] left-[48.5%] translate-x-[-50%] translate-y-[-50%]">No Results Found</p>
    <% end %>
    </div>
<%= paginate @dogs%> 
</div> 