<p><%= notice %></p>

<h1>Dogs</h1>

<div class="mt-4">
  <%= form_tag(dogs_path, method: :get, class: "form-inline") do %>
    <div class="form-group mb-2">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search dogs..." %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary mb-2" %>
  <% end %>
</div>

<% if @dogs.present? %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Origin</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <% @dogs.each do |dog| %>
          <tr>
            <td><%= link_to "/dogs/#{dog.id}", class: "text-decoration-none" do %><%= dog.name %><% end %></td>
            <td><%= dog.size %></td>
            <td><%= dog.origin %></td>
            <td><%= dog.color %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="text-center">No Results Found</p>
<% end %>

<%= paginate @dogs %>
<%= link_to "Back to home", root_path %>

