<h1>Dog Details</h1>

<div>
  <strong>Name:</strong> <%= @dog.name %>
</div>

<div>
  <strong>Size:</strong> <%= @dog.size %>
</div>

<div>
  <strong>Origin:</strong> <%= @dog.origin %>
</div>

<div>
  <strong>Color:</strong> <%= @dog.color %>
</div>

<%= link_to "Back to Dogs", dogs_path %>
