<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <a class="navbar-brand" href="<%= root_path %>">Shopping</a>
      </div>
      <div class="col-md-8">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="<%= products_path %>">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= devices_path %>">Devices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= users_path %>">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= dogs_path %>">Dogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= about_path %>">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
