<form action="<%= products_path %>" method="get" class="mb-3">
  <div class="input-group">
    <input type="text" name="search" class="form-control" placeholder="Search Here...">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<p class="text-success"><%= notice %></p>

<h1>Products</h1>

<% if @products.present? %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.title %></td>
          <td><%= p.price %></td>
          <td><%= p.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <p>No Results Found</p>
<% end %>

