<p style="color: green"><%= notice %></p>

<h1>Products</h1>

 <% if @products.present? %>
 <table class="relative top-[-50px]">      
    <thead>
    <tr class="border-[1px] border-white">
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    </tr>
    </thead>
    <tbody>
     <% @products.each do |p| %>
        <tr class="border-[1px] border-white text-center">
            <td class="px-[50px]"><%= p.id %></td>
            <td class="px-[50px]"><%= p.title %></td>
            <td class="px-[50px]"><%= p.price %></td>
            <td class="px-[50px]"><%= p.description %></td>
        </tr>
    <% end %>
    </tbody>
    </table>
    <% else %>
        <p class="px-[50px] absolute top-[50%] left-[48.5%] translate-x-[-50%] translate-y-[-50%]">No Results Found</p>
    <% end %>
    </div>
</div>