<form action="/users" method="get" class="mb-3">
  <div class="input-group">
    <input type="text" name="search" class="form-control" placeholder="Search...">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<% if @users.present? %>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |p| %>
        <tr>
          <td><%= link_to "/users/#{p.id}", class: "text-decoration-none" do %><%= p.name %><% end %></td>
          <td><%= p.age %></td>
          <td><%= p.username %></td>
          <td><%= p.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <p>No Results Found</p>
<% end %>

<%= link_to "Back to home", root_path %>
